header {
    display: flex;
    justify-content: flex-end;
    overflow: auto;
    height: 30px;
    margin-top: 10px;
    

}


.contenuto {
    margin-top: 50px;
    margin-left: 50px;
    width: 70vw;
}

section {
    height: calc(100vh - 50px - 70px);
    width: 100vw; 
    overflow: auto;
}

footer {
    margin-top: 20px;
    background-color: #1C2832;
    height: 90px;
    display: flex;
    width: 100%;
    font-size: 30px;
    justify-content: space-around;
    color: white;
    align-items: center;
}


.end {
    color: red;
    background-color: grey;
    padding: 28px;
    border: none;
}

.speaker {
       
     background-color: grey;
     border-radius: 5px;
     border: none;
     color: white;
     padding: 5px;
}

.window {

     background-color: grey;
     border-radius: 5px;
     border: none;
     font-size: 20px;
     color: white;
     margin-left: 10px;
     padding: 5px;
        
}