header {
    display: flex;
    justify-content: flex-end;
    overflow: auto;
    height: 30px;
    /* padding-top: 10px; */
    

}


.contenuto {
    margin-top: 50px;
    margin-left: 50px;
    width: 70vw;
}

section {
    height: calc(100vh - 30px - 90px);
    width: 100vw; 
    overflow: auto;
    padding-left: 600px;
    

}

footer {
    /* padding-top: 20px; */
    background-color: #1C2832;
    height: 90px;
    display: flex;
    width: 100%;
    font-size: 30px;
    justify-content: space-between;
    color: white;
    align-items: center;
}


.end {
    color: red;
    background-color: grey;
    padding: 28px;
    border: none;
}

.speaker {
       
     background-color: grey;
     border-radius: 5px;
     border: none;
     color: white;
     padding: 5px;
}

.window {

     background-color: grey;
     border-radius: 5px;
     border: none;
     font-size: 20px;
     color: white;
     margin-left: 10px;
     padding: 5px;
        
}

img {
    padding-bottom: 15px;
    padding-right: 5px;
}

i {
    padding-right: 10px;
    
}

span {
    font-size: 10px;
}